{% extends 'base.html.twig' %}

{% block title %}Nouvelle équipe{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle équipe</h1>

    {{ include('team/_form.html.twig') }}

    <a href="{{ path('app_team_index') }}">Retour aux équipes</a>
{% endblock %}
