{% extends 'base.html.twig' %}

{% block body %}

    <br><h1>{{ message }}</h1><br><br>
<h2> Les Meilleurs Moments </h2>
<div class="container">
{% for moment in moments %}
    {% if moment.rating >= 7 %}
  <div class="box fill">
  <a href="{{ path('app_moment_show', {'id': moment.id}) }}" class="card-link">Moment : {{moment.title}}</a>
  </div>
    {% endif %}
{% endfor %}
</div>

{% endblock %}