{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ message }}</h1>
    
<div class="container">
  <div class="box fill">Get the element's background colour and store it.</div>
  <div class="box fill">Set the element's background colour to transparent.</div>
  <div class="box fill">Add a child element with the stored background colour.</div>
  <div class="box fill">Animate in the child element, in any way you can imagine.</div>
</div>

{% endblock %}