{% extends 'base.html.twig' %}

{% block title %}Nouveau Stade{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau stage</h1>

    {{ include('stadium/_form.html.twig') }}

    <a href="{{ path('app_stadium_index') }}">Retour aux stades</a>
{% endblock %}
