{% extends 'base.html.twig' %}

{% block title %}Nouvelle Competition{% endblock %}

{% block body %}
    <h1>Ajouter une compétition</h1>

    {{ include('competition/_form.html.twig') }}

    <a href="{{ path('app_competition_index') }}">Retour aux compétitions</a>
{% endblock %}
